<!DOCTYPE html>
<html lang="zxx" xml:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <title>login</title>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/login/css/style.css}" type="text/css"
          media="all"/>

    <!-- fontawesome v5-->
    <script src="https://kit.fontawesome.com/af562a2a63.js" crossorigin="anonymous"></script>
    <!--    jquery.js-->
    <script th:src="@{/login/js/jquery.min.js}"></script>

    <script type="text/javascript">
        $(() => {
            $("#login-submit").click(function () {
                let formInfo = $("#form-login").serialize();
                // alert(formInfo)
                $.ajax({
                    url: "/user/doLogin",
                    type: "post",
                    data: formInfo,
                    success: function (data) {
                        if (data.code === 200) {
                            alert(data.message);
                            window.location.href = "/user/main";
                        } else {
                            alert(data.message)
                            // location.reload();
                        }
                    },
                    error: function (data) {
                        console.log(data.code);
                        alert("账号或者密码错误");
                    }
                })
            })
        })
    </script>
</head>

<body>
<div class="signinform">
    <h1>系 统 登 录</h1>
    <!-- container -->
    <div class="container">
        <!-- main content -->
        <div class="w3l-form-info">
            <div class="w3l_form">
                <div class="left_grid_info">
                    <img src="../static/images/image.svg" th:src="@{/login/images/image.svg}" alt=""/>
                </div>
            </div>
            <div class="w3_info">
                <h2>账 号 登 录</h2>
                <form action="#" method="" id="form-login">
                    <div class="input-group">
                        <span><i class="fas fa-user" aria-hidden="true"></i></span>
                        <input type="email" name="userAccount" placeholder="Account" required="">
                        <!--                        <span class="help-block" style="color:red" th:if="@{param.error}" th:text="用户名或密码输入错误!"></span>-->
                    </div>
                    <div class="input-group">
                        <span><i class="fas fa-key" aria-hidden="true"></i></span>
                        <input type="Password" name="userPassword" placeholder="Password" required="">
                    </div>
                    <div class="form-row bottom">
                        <div class="form-check">
                            <input type="checkbox" id="rememberme" name="rememberme">
                            <label for="rememberme"> 记住我</label>
                        </div>
                        <a href="#url" class="forgot">忘记密码？</a>
                    </div>
                    <input class="btn btn-primary btn-block" type="button" id="login-submit" value="登 录">
                </form>
                <p class="account">还没有账户? <a href="#signup" th:href="@{/user/register}">点击注册</a></p>
            </div>
        </div>
        <!-- //main content -->
    </div>
    <!-- //container -->
    <!-- footer -->
    <div class="footer">
        <p>&copy; 2022 登录界面所有. 保留所有权利 | 由 Ricardo 设计 <a href="#"
                                                        target="blank">Danger</a></p>
    </div>
    <!-- footer -->
</div>
</body>
</html>